<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">

        <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />


        <script src="/assets/lib/core-js-2.5.3/shim.min.js"></script>
        <script src="/assets/lib/react-18.2.0/react.min.js"></script>
        <script src="/assets/lib/react-18.2.0/react-dom.min.js"></script>
        <script src="/assets/lib/reactwidget-2.0.0/react-tools.js"></script>
        <script src="/assets/lib/htmlwidgets-1.6.4/htmlwidgets.js"></script>
        <link href="/assets/lib/reactable-0.4.4/reactable.css" rel="stylesheet" />
        <script src="/assets/lib/reactable-binding-0.4.4/reactable.js"></script>


        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="main-container">
            <div class="nav">
                <div class="nav-spacer"></div>
                <div class="nav-body">
                    <div class="nav-title">
                        <a href="/" class="top-part-title">> shoenot</a>
                    </div>
                    <div class="nav-links">
                        <div class="nav-link">
                            <a href="/posts" class="top-part">posts</a>
                        </div>
                        <div class="nav-link">
                            <a href="https://github.com/shoenot" target="_blank" rel="noreferrer noopener" class="top-part">github</a>
                        </div>
                        <div class="nav-link">
                            <a href="/contact" class="top-part">contact</a>
                        </div>
                    </div>
                </div>
                <div class="nav-spacer"></div>
            </div>
            <div class="content">
                <div class="content-spacer"></div>
                <div class="content-body">
                    
                    {{ content }}
                
                </div>
                <div class="content-spacer"></div>
            </div>
        </div>
        <footer class="footer mt-auto">
            <div class="container">
                <span id="footer-custom">© 2025 Shurjo Sakib Masood</span>
            </div>
        </footer>
    </body>
</html>
